export(lineplot)
export(linesTile)
export(mirrorRR)
export(nightplot)
export(pointsTile)
export(polygonTile)
export(polylinesTile)
export(riceplot)
export(ropeladder)
export(rugTile)
export(scatter)
export(textTile)
export(tile)
export(tileDraw)
